@font-face {
    font-family: ProductSans;
    src: url(Fuentes/ProductSans.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(Fuentes/Roboto.ttf);
}
@font-face {
    font-family: BakbakOne;
    src: url(Fuentes/BakbakOne.ttf);
}