/*https://medialoot.com/blog/a-beginners-guide-to-css-grid-layout/*/
*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}

body{
    font-family: Productsans;
    font-size: 1em;
    margin: 0;
    min-height: 100vh; /*Se estira al maximo del alto de la pantalla (100% view height)*/
    background-image: url("/Icono/Fondo.jpg");
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*3 filas header y footer se ajustan al contenido (auto) y body toma el resto (1fr)*/
}

/* grilla del main */
.grid{
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5];
    grid-auto-rows: min-content ;
    grid-gap: 2em;
    margin: 2em 4em;    /*margen del main 30px respecto del header/footer 60px del lateral de la pantalla*/
}

/* H2 titulo de cada pagina */
.titulo-pagina{
    color: #01140a;
    font-family: Productsans;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    grid-column-start: c1;
    grid-column-end: c5;
}

/* H3 titulo de cada seccion */
.titulo-section{
    color: #01140a;
    font-size: 1.5em;
    font-family: Productsans;
    text-align: center;
    margin-bottom: 0.5em;
}

/*h3{
    color: #01140a;
    font-size: 1.5em;
    font-family: Productsans;
    text-align: center;
}*/

/****************************************************HEADER*********************************************************/

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    background-color: #ededed;
    justify-items: start;
    padding: 0.5em 2em;
}
.contenedor-nav{
    font-family: productsans;
    background-color: #ededed;
}
.contenedor-nav ul{
    display: flex;
    /*justify-content: space-evenly;*/
    /*margin-right: 5px;*/

}
.contenedor-nav ul li
{
    list-style-type: none;
    padding: 0.25em;
    position: relative;
    color:#794592
} 

.contenedor-nav ul li a
{
  color: #794592;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

.contenedor-nav ul li a:hover
{
    border-bottom: 0.25em solid #794592; 
}
.contenedor-nav .dropdown-container :hover{
    border-bottom: 0.25em solid #794592;
}
.contenedor-nav ul li ul
{
  display: none;
}

.contenedor-nav ul li:hover ul
{
  display: block;
  position: absolute;
  /*margin-top: 5px;*/
  background: #ededed;
  /*border-radius: 6px;*/
  /*width: 100%;*/
    padding: 0.5px 0.2em;
  /*box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);*/
}
@keyframes move {
    0%{
        margin: 0;
    } 
    50%{
        margin-left: 30%;
    }
    100%{
        margin: 0;
    }
}

.icono-y-titulo{
    display: flex;
    align-items: center;
    animation-name: move;
    animation-timing-function: ease;
    animation-duration: 4s;
    text-decoration: none;
}
header img{
    height: 3em;
    align-items: center;
}

h1{
    font-family: BakbakOne, sans-serif;
    background-color: #ededed;
    color:#003d1c;
    font-weight: bold;
    font-size: 2em;
    height: 5%;
    display: inline;
    /*vertical-align: baseline;*/
    align-items: center;
}   

/*******************************************************PLAGAS***************************************************/
.section-grid1{
    display: grid;
    grid-gap:1.5em;
    grid-column-start: c1;
    grid-column-end: c3;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] ;
    border: #b265d6 solid;
    border-radius: 1em;
    padding: 1em;
}
.section-grid2{
    display: grid;
    grid-gap:1.5em;
    grid-column-start: c3;
    grid-column-end: c5;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3];
    border: #b265d6 solid;
    border-radius: 1em;
    padding: 1em;
}
.article-left{
    grid-column-start: c1;
    grid-column-end: c2;
    /*grid-row-start: r1;
    grid-row-end: r2;*/
    text-align: justify;
}
.image-right{
    grid-column-start: c2;
    grid-column-end: c3;
    /*grid-row-start: r1;
    grid-row-end: r2;*/
    /*align-self: center;
    /*width: 600px;
    height: 450px;*/
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}
.article-right{
    grid-column-start: c2;
    grid-column-end: c3;
    /*grid-row-start: r2;
    grid-row-end: r3;*/
    text-align: justify;
}
.image-left{
    grid-column-start: c1;
    grid-column-end: c2;
    /*grid-row-start: r2;
    grid-row-end: r3;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}
/*.section-grid1 .article-left h2{
      padding-left: 10px;
}
.section-grid2 .article-right h2{
    padding-left: 10px;
}*/
.article-left p {
    padding-top: 1em;
}
.article-right p {
    padding-top: 1em;
}

/********************************************FOOTER************************************************************/

footer{
    width: 100%;
    height: 4em;
    background-color: #b265d6;
    display: flex;
    flex-direction: row;
}
footer .izquierda{
    margin-left: 2em;
    align-self: center;
}

footer .derecha{
    margin-right: 2em;
    display: inline-flex;
    align-items: center; /*alineacion vertical*/
    margin-left: auto; /*lo posiciona a la derecha del contenedor*/
}
footer .texto{
    margin: 1em 0.25em;
    color: #01140a;
    font-family: productSans;
    font-size: 1em;
}

.footer-icono{
    width: 1.5em;
    height: 1.5em;
}
.container-footer-icono{
    margin: 0 0.25em;
    width: 1.5em;
    height: 1.5em;
}

/**********************************************************LISTADO********************************************************/

.article-listado{
    text-align: justify;
}

.article-listado li{
    list-style-type:disc;
    list-style-position: inside;
}

.article-listado p{
    margin-top: 1em;
}

/* Bloque con texto a la izquierda e imagen a la derecha */
.listado-izq{
    grid-column-start: span 2;
    display: grid;
    grid-column-gap: 1.5em;          /* separacion entre texto e imagen */ 
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tama単o */
    grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
    padding: 1em;
    border:#b265d6 solid;
    border-radius: 1em;
}

/* Bloque con texto a la derecha e imagen a la izquierda */
.listado-der{
    grid-column-start: span 2;
    display: grid;
    grid-column-gap: 1.5em;          /* separacion entre texto e imagen */ 
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tama単o */
    grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
    padding: 1em;
    border:#b265d6 solid;
    border-radius: 1em;
}

.img-listado{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

/*****************************************************CONTACTO************************************************************/

.titulo-pagina-contacto{
    color: #01140a;
    font-family: Productsans;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    grid-column-start: span 4;
}

.formulario{
    grid-column-start: c1;
    grid-column-end: c4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    color: #01140a;
    font-family: productsans;
    font-size: 1.5em;
}
.block{
    grid-column-start: span 2;
}

label{
    display: block;
}

.campos{
    grid-column-start: span 2;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5em;
    grid-column-gap: 2em;
}

.parrafo-contacto{
    grid-column-start: span 2;
    color: #01140a;
    font-size: 1.5em;
    font-family: productsans;
    text-align: center;
}

#name, #surname, #phone, #email, #message{
    width: 100%;
    margin-top: 0.5em;
}

.formulario button{
    display: inline-flex;
    font-family: Productsans;
    font-size: 0.8em;
    background-color:#003d1c;
    color:#ededed;
    padding: 0 1.5em;
    margin-top: 2em;
    grid-column-start: span 2;
    max-width: 20%;
    border-radius: 1em;
    align-content: center;
    justify-content: center;
}

.boton-enviar{
    grid-column-start: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion{
    border:#b265d6 solid;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parrafo-informacion{
    font-family: productsans;
    font-size: 1em;
}

.informacion li{
    display: flex;
    align-content: center;
}

.mapa{
    height: 60%;
    width: 100%;
    border-radius: 0.5em;
}

.icono-contacto{
    margin-right: 0.5em;
    width: 1.3em;
}

/***************************************************INDEX*************************************************************/
/* grilla del main */
.grid-index{
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr;
    grid-template-rows: [r1]auto [r2]auto [r3]auto;/* [r4]auto; /*[r5]auto[r6]auto [r7]auto [r8] auto;*/
    grid-gap:30px;
    /*margin: 30px 60px; */   /*margen del main 30px respecto del header/footer 60px del lateral de la pantalla*/
}
.section-index{
    color:#ededed;
    background-image: url("Imagenes plantas/garden1.png");
    grid-column-start: c1;
    grid-column-end: c5;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    text-align: justify;
}
.section-index .titulo-index{ /*es un h2 pero blanco*/
    margin: 0.5em 1em;
    font-family: Productsans;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    grid-column-start: c1;
    grid-column-end: c5; 
    color:#ededed;
}
.section-index article{
    margin: 2em 4em;
    padding: 0.5em;
}
.section-mas-votada{
    grid-column-start: c2;
    grid-column-end: c4;
    grid-row-start: r2;
    /*grid-row-end: r3;*/
    font-family: Productsans;
    border: 5px #003d1c solid;
    border-radius: 1em;
    padding: 2em;
}
.section-mas-votada img{
    object-fit: cover;
    width: 100%;
    height: 70%;
    padding: 0.25em;
}
.section-mas-votada article p {
    padding: 0.5em;
}
.section-mas-votada article a {
    border: #003d1c solid 3px;
    color: #01140a;
    font-weight: bold;
    padding: 0.25em;
    text-decoration: none;
    position: relative;
    left:500px;
}



/*******************************************************MEDIA QUERY***************************************************/
@media (max-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-gap:30px;
        margin: 30px 60px;    /*margen del main 30px respecto del header/footer 60px del lateral de la pantalla*/
    }

    .titulo-pagina{
        color: #01140a;
        font-family: Productsans;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        /*grid-column-start: span 2;*/
    }
    
    /* Bloque con texto a la izquierda e imagen a la derecha */
    .listado-izq{
        /*grid-column-start: span 2; /*c1;
        grid-column-end: c3;*/
        display: grid;
        grid-column-gap: 20px;          /* separacion entre texto e imagen */ 
        grid-template-columns: 1fr 1fr; /* 2 columnas de igual tama単o */
        grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
        padding: 10px;
        border:#1bca32 solid;
    }
    
    /* Bloque con texto a la derecha e imagen a la izquierda */
    .listado-der{
        /*grid-column-start: span 2;/*c3;
        grid-column-end: c5;*/
        display: grid;
        grid-column-gap: 20px;          /* separacion entre texto e imagen */ 
        grid-template-columns: 1fr 1fr; /* 2 columnas de igual tama単o */
        grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
        padding: 10px;
        border:#1bca32 solid;
    }
    /*{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }*/
}

@media (max-width: 768px) {
    /*{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }*/
}
