/*https://medialoot.com/blog/a-beginners-guide-to-css-grid-layout/*/
*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}

body{
    font-family: Roboto;
    font-size: 15px;
    margin: 0;
    min-height: 100vh; /*Se estira al maximo del alto de la pantalla (100% view height)*/
    background-image: url("/Icono/Fondo.jpg");
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*3 filas header y footer se ajustan al contenido (auto) y body toma el resto (1fr)*/
}

/* grilla del main */
.grid{
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5];
    grid-auto-rows: min-content ;
    grid-gap:30px;
    margin: 30px 60px;    /*margen del main 30px respecto del header/footer 60px del lateral de la pantalla*/
}

/* H2 titulo de cada pagina */
.titulo-pagina{
    color: #01140a;
    font-family: Productsans;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    grid-column-start: c1;
    grid-column-end: c5;
}

/* H3 titulo de cada seccion */
.titulo-section{
    color: #01140a;
    font-size: 25px;
    font-family: Productsans;
    text-align: center;
}

/****************************************************HEADER*********************************************************/

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    background-color: #ededed;
    justify-items: start;
}
.contenedor-nav{
    font-family: Roboto;
    background-color: #ededed;

    /*https://freshman.tech/flexbox-navbar/*/
    /*https://dev.to/jungjungie/create-a-navbar-with-css-flexbox-2leh*/
    /*https://coder-coder.com/responsive-navigation-bar-flexbox-vs-css-grid/*/
}
.contenedor-nav ul{
    display: flex;
    /*justify-content: space-evenly;*/
    /*margin-right: 5px;*/

}
.contenedor-nav ul li
{
  list-style-type: none;
  padding: 4px;
  position: relative;
} 

.contenedor-nav ul li a
{
  color: #794592;
  text-decoration: none;
  padding: 5px 10px;
}

.contenedor-nav ul li a:hover
{
    border-bottom: 4px solid #794592; 
}
.contenedor-nav .dropdown-container :hover{
    border-bottom: 4px solid #794592;
}
.contenedor-nav ul li ul
{
  display: none;
}

.contenedor-nav ul li:hover ul
{
  display: block;
  position: absolute;
  /*margin-top: 5px;*/
  background: #ededed;
  /*border-radius: 6px;*/
  /*width: 100%;*/
    padding: 10px 2px;
  /*box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);*/
}
@keyframes move {
    0%{
        margin: 0;
    } 
    50%{
        margin-left: 30%;/*700px;*/
    }
    100%{
        margin: 0;
    }
}

.icono-y-titulo{
    display: flex;
    align-items: center;
    animation-name: move;
    animation-timing-function: ease;
    animation-duration: 4s;
    text-decoration: none;
}
header img{
    height: 80px;
    /*width: 80px;*/
    align-items: center;
}

h1{
    font-family: BakbakOne, sans-serif;
    background-color: #ededed;
    color:#003d1c;
    font-weight: bold;
    font-size: 36px;
    height: 5%;
    display: inline;
    /*vertical-align: baseline;*/
    align-items: center;
}   

/*******************************************************PLAGAS***************************************************/
.section-grid1{
    display: grid;
    grid-gap:20px;
    grid-column-start: c1;
    grid-column-end: c3;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] ;
    border:5px solid #794592;
    padding: 20px;
}
.section-grid2{
    display: grid;
    grid-gap:20px;
    grid-column-start: c3;
    grid-column-end: c5;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3];
    border:5px solid #003d1c;
    padding: 20px;
}
.article-left{
    grid-column-start: c1;
    grid-column-end: c2;
    /*grid-row-start: r1;
    grid-row-end: r2;*/
    text-align: justify;
}
.image-right{
    grid-column-start: c2;
    grid-column-end: c3;
    /*grid-row-start: r1;
    grid-row-end: r2;*/
    /*align-self: center;
    /*width: 600px;
    height: 450px;*/
    width:100%;
    height: 100%;
    object-fit: cover;
}
.article-right{
    grid-column-start: c2;
    grid-column-end: c3;
    /*grid-row-start: r2;
    grid-row-end: r3;*/
    text-align: justify;
}
.image-left{
    grid-column-start: c1;
    grid-column-end: c2;
    /*grid-row-start: r2;
    grid-row-end: r3;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-grid1 .article-left h2{
    color:#003d1c;
    padding-left: 10px;
}
.section-grid2 .article-right h2{
    color: #794592;
    padding-left: 10px;
}
.article-left p {
    padding: 10px;
}
.article-right p {
    padding: 10px;
}

/********************************************FOOTER************************************************************/

footer{
    width: 100%;
    height: 80px;
    background-color: #b265d6;
    display: flex;
    flex-direction: row;
}
footer .izquierda{
    margin-left: 30px;
    align-self: center;
}

footer .derecha{
    margin-right: 30px;
    display: inline-flex;
    align-items: center; /*alineacion vertical*/
    margin-left: auto; /*lo posiciona a la derecha del contenedor*/
}
footer .texto{
    margin: 15px 5px;
    color: #01140a;
    font-family: productSans;
    font-size: 15px;
}

.footer-icono{
    width: 25px;
    height: 25px;
}
.container-footer-icono{
    margin: 0 5px;
    width: 25px;
    height: 25px;
}

/**********************************************************LISTADO********************************************************/

.article-listado{
    text-align: justify;
}

.article-listado li{
    list-style-type:disc;
    list-style-position: inside;
}

.article-listado p{
    margin-top: 10px;
}

/* Bloque con texto a la izquierda e imagen a la derecha */
.listado-izq{
    grid-column-start: span 2; /*c1;
    grid-column-end: c3;*/
    display: grid;
    grid-column-gap: 20px;          /* separacion entre texto e imagen */ 
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
    grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
    padding: 10px;
    border:#b265d6 solid;
}

/* Bloque con texto a la derecha e imagen a la izquierda */
.listado-der{
    grid-column-start: span 2;/*c3;
    grid-column-end: c5;*/
    display: grid;
    grid-column-gap: 20px;          /* separacion entre texto e imagen */ 
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
    grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
    padding: 10px;
    border:#b265d6 solid;
}

.img-listado{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*****************************************************CONTACTO************************************************************/

.grid-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content ;
    grid-gap:30px;
    margin: 30px 60px;    /*margen del main 30px respecto del header/footer 60px del lateral de la pantalla*/
}
.titulo-pagina-contacto{
    color: #01140a;
    font-family: Productsans;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    grid-column-start: span 4;
}

.parrafo-contacto{
    grid-column-start: span 3;
    color: #01140a;
    font-family: roboto;
    font-size: 25px;
    font-family: productsans;
    text-align: center;
}

.informacion-contacto{
    grid-row-start: span 4;
    border: #003d1c solid;
    border-radius: 10px;
}

.informacion-contacto li{
    list-style-type: none;
    list-style-position: outside;
}
.formulario{
    grid-column-start: span 3 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    color: #01140a;
    font-family: productsans;
    font-size: 20px;
}

.block{
    grid-column-start: span 2;
    /*text-align: center;*/
}

label{
    display: block;
}

.formulario button{
    font-family: Productsans;
    font-size: 15px;
    background-color:#b265d6;
    color:#01140a;
    padding: 0 25px;
    min-width: 50%;

}

.icono-contacto{
    width: 25px;
}

/***************************************************INDEX*************************************************************/



/*******************************************************MEDIA QUERY***************************************************/
@media (max-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-gap:30px;
        margin: 30px 60px;    /*margen del main 30px respecto del header/footer 60px del lateral de la pantalla*/
    }

    .titulo-pagina{
        color: #01140a;
        font-family: Productsans;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        /*grid-column-start: span 2;*/
    }
    
    /* Bloque con texto a la izquierda e imagen a la derecha */
    .listado-izq{
        /*grid-column-start: span 2; /*c1;
        grid-column-end: c3;*/
        display: grid;
        grid-column-gap: 20px;          /* separacion entre texto e imagen */ 
        grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
        grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
        padding: 10px;
        border:#1bca32 solid;
    }
    
    /* Bloque con texto a la derecha e imagen a la izquierda */
    .listado-der{
        /*grid-column-start: span 2;/*c3;
        grid-column-end: c5;*/
        display: grid;
        grid-column-gap: 20px;          /* separacion entre texto e imagen */ 
        grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
        grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
        padding: 10px;
        border:#1bca32 solid;
    }
    /*{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }*/
}

@media (max-width: 768px) {
    /*{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }*/
}
