*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}

body{
    font-family: Productsans;
    font-size: 1em;
    margin: 0;
    min-height: 100vh; /*Se estira al maximo del alto de la pantalla (100% view height)*/
    background-image: url("/Icono/Fondo.jpg");
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*3 filas header y footer se ajustan al contenido (auto) y body toma el resto (1fr)*/
}

/* grilla del main */
.grid{
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5];
    grid-auto-rows: min-content ;
    grid-gap: 2em;
    margin: 2em 4em;    /*margen del main respecto del header/footer 60px del lateral de la pantalla*/
}

/* H2 titulo de cada pagina */
h2{
    color: #01140a;
    font-family: Productsans;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    grid-column-start: c1;
    grid-column-end: c5;
}

/* H3 titulo de cada seccion */
h3{
    color: #01140a;
    font-size: 1.5em;
    font-family: Productsans;
    text-align: center;
    margin-bottom: 0.5em;
}
h4{
    color: #01140a;
    font-size: 1.25em;
    font-family: Productsans;
    text-align: center;
    padding: 0.5em;
}

/****************************************************HEADER*********************************************************/

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    background-color: #ededed;
    justify-items: start;
    padding: 0.5em 2em;
}
.contenedor-nav{
    font-family: productsans;
    background-color: #ededed;
}
.contenedor-nav ul{
    display: flex;
}
.contenedor-nav ul li
{
    list-style-type: none;
    padding: 0.25em;
    position: relative;
    color:#794592;
    font-weight: bold;
} 

.contenedor-nav ul li a
{
  color: #794592;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

.contenedor-nav ul li a:hover
{
    border-bottom: 4px solid #794592; 
    border-radius: 0.2em;
}
.contenedor-nav .dropdown-container :hover{
    border-bottom: 4px solid #794592;
    border-radius: 0.2em;
}
.contenedor-nav ul li ul
{
  display: none;
}

.contenedor-nav ul li:hover ul
{
  display: block;
  position: absolute;
  background: #ededed;
  padding: 0.5em; 
}
@keyframes move {
    0%{
        margin: 0;
    } 
    50%{
        margin-left: 30%;
    }
    100%{
        margin: 0;
    }
}

.icono-y-titulo{
    display: flex;
    align-items: center;
    animation-name: move;
    animation-timing-function: ease;
    animation-duration: 4s;
    text-decoration: none;
}
header img{
    height: 3em;
    align-items: center;
}

h1{
    font-family: BakbakOne, sans-serif;
    background-color: #ededed;
    color:#003d1c;
    font-weight: bold;
    font-size: 2em;
    display: inline;
    align-items: center;
}   

/*******************************************************PLAGAS***************************************************/
/* Bloque con texto a la izquierda e imagen a la derecha */
.section-grid1{
    display: grid;
    grid-gap:1.5em;
    grid-column-start: c1;
    grid-column-end: c3;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] ;
    border: #b265d6 solid;
    border-radius: 1em;
    padding: 1em;
}
/* Bloque con texto a la derecha e imagen a la izquierda */
.section-grid2{
    display: grid;
    grid-gap:1.5em;
    grid-column-start: c3;
    grid-column-end: c5;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3];
    border: #b265d6 solid;
    border-radius: 1em;
    padding: 1em;
}
.article-left{
    grid-column-start: c1;
    grid-column-end: c2;
    text-align: justify;
}
.image-right{
    grid-column-start: c2;
    grid-column-end: c3;
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}
.article-right{
    grid-column-start: c2;
    grid-column-end: c3;
    text-align: justify;
}
.image-left{
    grid-column-start: c1;
    grid-column-end: c2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}
.article-left p {
    padding-bottom: 1em;
}
.article-right p {
    padding-bottom: 1em;
}

/********************************************FOOTER************************************************************/

footer{
    width: 100%;
    height: 4em;
    background-color: #b265d6;
    display: flex;
    flex-direction: row;
}
footer .izquierda{
    margin-left: 2em;
    align-self: center;
}

footer .derecha{
    margin-right: 2em;
    display: inline-flex;
    align-items: center; /*alineacion vertical*/
    margin-left: auto; /*lo posiciona a la derecha del contenedor*/
}
footer .texto{
    margin: 1em 0.25em;
    color: #01140a;
    font-family: productSans;
    font-size: 1em;
}

.footer-icono{
    width: 1.5em;
    height: 1.5em;
}
.container-footer-icono{
    margin: 0 0.25em;
    width: 1.5em;
    height: 1.5em;
}

/**********************************************************LISTADO********************************************************/

.article-listado{
    text-align: justify;
}

.article-listado li{
    list-style-type:disc;
    list-style-position: inside;
}

.article-listado p{
    margin-top: 1em;
}

/* Bloque con texto a la izquierda e imagen a la derecha */
.listado-izq{
    grid-column-start: span 2;
    display: grid;
    grid-column-gap: 1.5em;          /* separacion entre texto e imagen */ 
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
    grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
    padding: 1em;
    border:#b265d6 solid;
    border-radius: 1em;
}

/* Bloque con texto a la derecha e imagen a la izquierda */
.listado-der{
    grid-column-start: span 2;
    display: grid;
    grid-column-gap: 1.5em;          /* separacion entre texto e imagen */ 
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
    grid-auto-rows: auto;           /* el contenido se ajusta al alto de la fila */
    padding: 1em;
    border:#b265d6 solid;
    border-radius: 1em;
}

.img-listado{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

/*****************************************************CONTACTO************************************************************/

.titulo-pagina-contacto{
    color: #01140a;
    font-family: Productsans;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    grid-column-start: span 4;
}

.formulario{
    grid-column-start: c1;
    grid-column-end: c4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    color: #01140a;
    font-family: productsans;
    font-size: 1.5em;
}
.block{
    grid-column-start: span 2;
}

label{
    display: block;
}

.campos{
    grid-column-start: span 2;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5em;
    grid-column-gap: 2em;
}

.parrafo-contacto{
    grid-column-start: span 2;
    color: #01140a;
    font-size: 1.5em;
    font-family: productsans;
    text-align: center;
}

#name, #surname, #phone, #email, #message{
    width: 100%;
    margin-top: 0.5em;
}

.formulario button{
    display: inline-flex;
    font-family: Productsans;
    font-size: 0.8em;
    background-color:#003d1c;
    color:#ededed;
    padding: 0 1.5em;
    margin-top: 2em;
    grid-column-start: span 2;
    max-width: 20%;
    border-radius: 1em;
    align-content: center;
    justify-content: center;
}

.boton-enviar{
    grid-column-start: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion{
    border:#b265d6 solid;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parrafo-informacion{
    font-family: productsans;
    font-size: 1em;
}

.informacion li{
    display: flex;
    align-content: center;
}

.mapa{
    height: 60%;
    width: 100%;
    border-radius: 0.5em;
}

.icono-contacto{
    margin-right: 0.5em;
    width: 1.3em;
}

/***************************************************INDEX*************************************************************/
/* grilla del main */
.grid-index{
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr;
    grid-template-rows: [r1]auto [r2]auto [r3]auto;
    grid-gap:1em;
}
.section-index{
    color:#ededed;
    background-image: url("Imagenes plantas/Flor-Violeta.jpg");
    background-size: cover;
    width:100%;
    height:100%;
    object-fit:cover;
    grid-column-start: c1;
    grid-column-end: c5;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    text-align: justify;
}
.section-index article h2{ /*es un h2 pero blanco*/
    margin: 0.5em 1em;
    grid-column-start: c1;
    grid-column-end: c5; 
    color:#ededed;
}
.section-index article p {
    margin: 2em 4em;
    padding: 0.5em;
}
.section-mas-votada{
    grid-column-start: c2;
    grid-column-end: c4;
    grid-row-start: r2;
    font-family: Productsans;
    border: 5px #003d1c solid;
    border-radius: 1em;
    padding: 2em;
   display: grid;
   grid-template-columns: [c1] 1fr [c2] 1fr [c3] auto;
   grid-template-rows:[r1] auto [r2] auto [r3] auto [r4] auto;
   grid-gap: 0.5em;
}
.section-mas-votada img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0.25em;
    grid-column-start: span 3;

}
.section-mas-votada article{
    grid-column-start: span 3;
}
.section-mas-votada h3{
    grid-column-start: span 3;
    margin-top: 0.25em;
}
.section-mas-votada article p {
    padding: 0.5em;
}
.section-mas-votada .btn-planta-mas-votada{
    grid-row:r4;
    grid-column-start: c3;
}
.btn-planta-mas-votada a{
    border: #003d1c solid;
    border-radius: 0.5em;
    color: #01140a;
    font-weight: bold;
    padding: 0.25em;
    text-decoration: none;
}

/*******************************************************MEDIA QUERY***************************************************/
@media (max-width: 1280px) {    /*tablets*/

    h2{
        font-size: 3.5em;
    }
    /* Bloque con texto a la izquierda e imagen a la derecha */
    .listado-izq{
        grid-column-start: span 4; 
    }
    
    /* Bloque con texto a la derecha e imagen a la izquierda */
    .listado-der{
        grid-column-start: span 4;
    }
    /* Bloque con texto a la izquierda e imagen a la derecha */
    .section-grid1{
        grid-column-start: c1;
        grid-column-end: c5;
    }
    /* Bloque con texto a la derecha e imagen a la izquierda */
    .section-grid2{
        grid-column-start: c1;
        grid-column-end: c5;
    }
    @keyframes move {
        0%{
            margin: 0;
        } 
        50%{
            margin-left: 20%;
        }
        100%{
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    h2{
        font-size: 2em;
    }
    /* Bloque con texto a la izquierda e imagen a la derecha */
    .listado-izq{
        grid-column-start: span 4; 
        grid-template-columns: 1fr;
        grid-row-gap:1em;
    }
    
    /* Bloque con texto a la derecha e imagen a la izquierda */
    .listado-der{
        grid-column-start: span 4;
        grid-template-columns: 1fr;
        grid-row-gap:1em;
    }
    .listado-der .article-listado{
        grid-row:1;
    }
    .listado-der .img-listado{
        grid-row:2;
    }
    /* Bloque con texto a la izquierda e imagen a la derecha */
    .section-grid1{
        grid-column-start: c1;
        grid-column-end: c5;
        grid-row-gap:1em;
        
    }
    .section-grid1 .article-left{
        grid-row:1;
        grid-column-start: c1;
        grid-column-end: c3;
        
    }
    .section-grid1 .image-right{
        grid-row: 2;
        grid-column-start: c1;
        grid-column-end: c3;
    }
    /* Bloque con texto a la derecha e imagen a la izquierda */
    .section-grid2{
        grid-column-start: c1;
        grid-column-end: c5;
        grid-row-gap:1em;
        
    }
    .section-grid2 .article-right{
        grid-row:1;
        grid-column-start: c1;
        grid-column-end: c3;
        
    }
    .section-grid2 .image-left{
        grid-row: 2;
        grid-column-start: c1;
        grid-column-end: c3;
    }
    .section-index article p{
        margin: 2em 2em;
    }
    .section-mas-votada{
        grid-column-start: c1;
        grid-column-end: c5;
        margin-right: 1em;
        margin-left: 1em;
    }
    @keyframes move {
        0%{
            margin: 0;
        } 
        50%{
            margin-left: 10%;
        }
        100%{
            margin: 0;
        }
    }
    .contenedor-header{
        flex-direction: column;
    }
    /*resolucion de 320*/
}
